<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# <title>{% block title %}{% endblock %}</title> #}{# JS should set window title #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/build/favicon_1.png" type="image/png" />
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <input id="wwswpd" type="hidden" value="/build/service-worker.js" />
        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </body>
</html>
